<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPIF Database</title>
    <link rel="stylesheet" href="static/welcome_login_styles.css">
</head>
<body>

    {% include 'cornerImages.html' %}

    <h1>Welcome To EPIF's Imagery Database!</h1>

    <div id="userCredentials">
        <h2>Log In</h2>
        <!-- Login Form -->
        <form action="/" method="post">
            <input type="hidden" name="action" value="login">
            <input type="text" placeholder="Username" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <button type="submit">Login</button>
            <p id="message" style="color: {{'red' if 'Login failed:' in message else 'green' }};">{{ message }}</p>
        <p>Don't have an account? <a href="register">Register here</a></p>
        </form>
    </div>
</body>
</html>
